rainmaker-pgr=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/pgr-reports.yml
rainmaker-pt=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/pt-reports.yml
rainmaker-tl=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/tl-reports.yml
rainmaker-uc=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/uc-reports.yml
rainmaker-noc=file:///work-dir/punjab-rainmaker-customization/configs/reports/configs/rainmaker-noc-reports.yml
